################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/.vs/config
/.vs/DAL/v14/*.suo
/DAL.csproj
